@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Squada+One&display=swap');


:root{
    --txt-color : #d3d3d3;
    --bg-color : #161a1d;
    --prim-color : #ba181b ;
    --sec-color : #660708;
    --ult-bg-color : #0b090a;
}


.ultra-bg{
    background-color: var(--ult-bg-color);
}

.padding-remover{
    padding-inline-start: 0px;
}





body{
    
    color:var(--txt-color);

    max-width : 600px;
    margin:auto;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    
    text-align: center;
}

.no-decor-list{
    list-style-type: none;
}

.no-decor-txt{
    text-decoration: none;
}

.caps{
    text-transform: uppercase;
}

.navbar-link
{
    color:var(--sec-color);
}

.prim-button{
    color : var(--txt-color);
    background-color: var(--prim-color);

    padding: 1rem 3rem 1rem 3rem;
    margin : 0rem 1rem 2rem 1rem;
    display:inline-block;
    text-align: center;
    border-radius: 0.5rem;;

    font-weight: bolder;
}


.prim-button:hover{
    color : var(--prim-color);
    background-color: var(--txt-color);

    padding: 1rem 3rem 1rem 3rem;
    margin : 0rem 1rem 2rem 1rem;
    display:inline-block;
    text-align: center;
    border-radius: 0.5rem;;

    font-weight: bolder;
}

.sec-button{
    color : var(--ult-bg-color);
    background-color: var(--txt-color);

    padding: 1rem 3rem 1rem 3rem;
    margin : 0rem 1rem 2rem 1rem;
    display:inline-block;
    text-align: center;
    border-radius: 0.5rem;;
    max-width:15rem;
    font-weight: bolder;
    font-size: 0.8rem;
}
.sec-button:hover{
    color : var(--txt-color);
    background-color: var(--ult-bg-color);

    padding: 1rem 3rem 1rem 3rem;
    margin : 0rem 1rem 2rem 1rem;
    display:inline-block;
    text-align: center;
    border-radius: 0.5rem;;
    max-width:15rem;
    font-weight: bolder;
    font-size: 0.8rem;
}

.title{
    font-size: 7rem;
    font-family: 'Squada One', cursive;
    text-align: center;
    line-height: 6rem;


    color:var(--txt-color);
}

.mainZone{
    padding-left: 1.5rem;
    padding-right: 1.5rem;

}

.next-line
{
    display: none;
}
.nameZone{
    padding-top :0;
    font-size: 1.2rem;
    font-weight: bolder;
    text-transform: uppercase;

    margin-top:0.3rem;
    margin-bottom:1.2rem;
}

.nameZone-a{
    padding-top :0;
    font-size: 1.2rem;
    font-weight: bolder;
    text-transform: uppercase;

    margin-top:0.3rem;
    margin-bottom: 0;
}
.nameZone-b{
    padding-top :0;
    font-size: 1.2rem;
    font-weight: bolder;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom:1.2rem;
}


.desig{
    font-size: 0.9rem;
    font-weight: bolder;

    margin:0;
}

/**youtube**/
.video-player {
    overflow: hidden;
    position: relative;
    width:100%;
    
}

.video-player::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.endNote{
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 0.9rem;
}


/**the game**/
.theGame {
    background: linear-gradient(270deg, #2b2b2b, #1c0101, #1e0808);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;

    padding-top:6rem;
    padding-bottom:6rem;
}

@-webkit-keyframes AnimationName {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}
@keyframes AnimationName {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}

/**credits**/
.reviews {
    background: linear-gradient(270deg, #0a5944, #14375c);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;

    padding-top:6rem;
    padding-bottom:6rem;
}

@-webkit-keyframes AnimationName {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}
@keyframes AnimationName {
    0%{background-position:84% 0%}
    50%{background-position:17% 100%}
    100%{background-position:84% 0%}
}

/**credits**/
.credits {
    background: linear-gradient(154deg, #101010, #200f10, #13073c);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;

    padding-top:5rem;
    padding-bottom:5rem;
}

@-webkit-keyframes AnimationName1 {
    0%{background-position:0% 71%}
    50%{background-position:100% 30%}
    100%{background-position:0% 71%}
}
@-moz-keyframes AnimationName1 {
    0%{background-position:0% 71%}
    50%{background-position:100% 30%}
    100%{background-position:0% 71%}
}
@keyframes AnimationName1 {
    0%{background-position:0% 71%}
    50%{background-position:100% 30%}
    100%{background-position:0% 71%}
}


/**star  studios**/
img {
    max-width : 300px;
}

.icon{
    padding-top:1rem;
    max-width:3rem;
}
.icon:hover, .icon:focus, .icon:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

.grad2 {
    background: linear-gradient(108deg, #121461, #0c4463, #290416);
    background-size: 600% 600%;

    -webkit-animation: AnimationName2 9s ease infinite;
    -moz-animation: AnimationName29s ease infinite;
    animation: AnimationName2 9s ease infinite;
        
    padding-top: 8rem;
    padding-bottom: 5rem;
}

@-webkit-keyframes AnimationName2 {
    0%{background-position:29% 0%}
    50%{background-position:72% 100%}
    100%{background-position:29% 0%}
}
@-moz-keyframes AnimationName2 {
    0%{background-position:29% 0%}
    50%{background-position:72% 100%}
    100%{background-position:29% 0%}
}
@keyframes AnimationName2 {
    0%{background-position:29% 0%}
    50%{background-position:72% 100%}
    100%{background-position:29% 0%}
}



/**footer**/
.foot-text{
    font-size: 0.7rem;
    padding:0.5rem 0rem 0.5rem 0rem;
}

/**reviews zone**/
